<h1>{{user.first_name}} {{user.last_name}} [{{user.id}}]</h1>
<ul class="list-group">
    <li class="list-item">Email:<strong>{{user.email}}</strong></li>
    <li class="list-item">Phone:<strong>{{user.phone}}</strong></li>
</ul>
<a href="/" class="btn btn-secondary pull-left">Back</a>
<form method="POST" action="/user/delete/{{user.id}}?_method=DELETE">
    <input type="submit" class="btn btn-danger" value="delete">
</form>